.DS_Store
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.virtual_documents/
.vscode/
data/outputs/
/SAR_Lab_6/RidgecrestSenDT71/
/SAR_Lab_6/SanFranSenDT42/
/data/downloads/
/data/landsat_scenes/
/data/sar_lab2_data/
/data/srtm/
